%h1 Rails 3 and haml
%h2 This is a very simple example on how to use haml within rails
%p
  Check out the README.md and the source code on 
  %a(href="https://github.com/oem/rails_exercises") github
  to know how it works.
%p
  You can even mix erb and haml, this views layout is in erb for example, while the view template is in haml.
