<!DOCTYPE html>
<html>
<head>
  <title>Haml</title>
  <%= stylesheet_link_tag "bright" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">

    <%= yield %>
  </div>

</body>
</html>
